@import url('https://googleapis.com');

:root {
  /* --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px; */


  /* letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text); */
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: color 0.2s;

}

.category-card:hover {
    color: #CFB43C;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    transition: transform .3s ease;
}

.gallery-overlay {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: flex-end;

    padding: 25px;

    opacity: 0;

    background: linear-gradient(to top,
            rgba(0, 0, 0, .85) 0%,
            rgba(0, 0, 0, .45) 35%,
            rgba(0, 0, 0, 0) 70%);

    transition: opacity .2s ease;
}

.gallery-overlay span {
    color: white;
    letter-spacing: 2px;
    font-size: 18px;

    transform: translateY(10px);
    transition: .1s ease;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-item:hover .gallery-overlay span {
    transform: translateY(0);
}

.gallery-item:hover img {
    transform: scale(1.03);
}


.category-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 15px 15px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, .9) 0%,
            rgba(0, 0, 0, .6) 40%,
            rgba(0, 0, 0, 0) 100%);
}

.play-button {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 999px;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(8px);
    color: white;
    font-size: 2rem;
    z-index: 999;
    cursor: pointer;
    transition: .2s;
}

.play-button:hover {
    transform: scale(1.05);
}


.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.473);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    z-index: 9999999;
}

.scroll-top:hover {
    transform: translateY(-3px);
}

.header {
  display: flex;
  justify-content: center;
  color: white !important;
}

.header-div {
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
    display: flex;
}

.header2 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.829);
  backdrop-filter: blur(10px);
  border-radius: 0px 0px 10px 10px;
  gap: 0px;
  align-items: center;
  color: rgb(29, 29, 29) !important;
}

.submenu2 {
      background: #ffffff9d;
}

.home-hero {
  overflow: hidden;
}

.video {
  width: 100%;
  object-fit: cover !important;
}

.row-gallery {
    background-image: url(/images/home/fundo1.png);
    height: 1000px;
    margin-top: -200px;
    background-position-y: top;
    z-index: 50;
    display: flex;
    position: relative;
    padding-top: 100px;
}

.btn-primary {
    background-color: #2c1f14;
    color: white;
    letter-spacing: 2px;
    border-radius: 3px;
    padding: 10px 15px;
    transition: color 0.1s;
}

.btn-primary:hover {
    color: #CFB43C;
}

.logo1 {
   width: 500px ;
}

.home-hero-video {
  width: 100%;
  height: 90vh;
  object-fit: cover !important;
}

.home-hero-logo {
    width: 500px;
}

.section3 {
    margin-top: -400px;
}

/* OUTLINE VERMELHO TODOS ELEMENTOS */

/* * {
    outline: 1px solid red;
} */

.home-hero-overlay {
  position: absolute;
  height: 95vh;
  inset: 0;
  background: rgba(0,0,0,.35);
}


.destaque-text {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

.destaque-title {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 4px;
}



.tag {
  max-width: fit-content;
    margin-top: 10px;
    border-left: 3px solid #cfb43c;
    padding-left: 10px;
    padding-top: 8px;
    font-size: 15px;
    color: rgb(71, 71, 71);
        background: rgba(255, 255, 255, 0.856);
        padding-bottom: 8px;
        border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(5px);
}


.home-hero-overlay2 {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.35);
}

.home-hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  max-height: 85vh;
}

.footer {
  width: 100%;
  display: flex;
}

.instagram {
    background-color:#dfdecd;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.instagram:hover {
    background-color: #CFB43C;
}

.whatsapp {
    background-color:#dfdecd;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.whatsapp:hover {
    background-color: #CFB43C;
}

.contact-form {
    background-color: #2c1f14;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    color: #dfdecd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form {
    border: 1px solid lightgray;
    padding: 0px 10px;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    color: white;
    background-color: #ffffff24;
}

.submit-button {
 background-color: #CFB43C;
 color: #2c1f14;
 width: 100%;
 font-size: 20px;
 text-transform: uppercase;
 font-weight: 500;
 border-radius: 5px;
 padding: 10px;
 transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #dfdecd;
}

.home-1-gallery {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: fit-content;
}

.home-1-gallery::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 300px;
    height: 400px;
    background-image: url('/images/home/foto1-2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.1s;
    z-index: 2;
}
.home-1-gallery:hover::before {
    opacity: 1;
}

.home-1-gallery img {
    width: 300px;
    display: block;
}

.home-2-gallery {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: fit-content;
}

.home-2-gallery::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 300px;
    height: 400px;
    background-image: url('/images/home/foto2-2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.1s;
    z-index: 2;
}

.home-2-gallery:hover::before {
    opacity: 1;
}

.home-2-gallery img {
    width: 300px;
    display: block;
}

.home-3-gallery {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: fit-content;
}

.home-3-gallery::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 300px;
    height: 400px;
    background-image: url('/images/home/foto3-2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.1s;
    z-index: 2;
}

.home-3-gallery:hover::before {
    opacity: 1;
}

.home-3-gallery img {
    width: 300px;
    display: block;
}

.home-4-gallery {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: fit-content;
}

.home-4-gallery::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 300px;
    height: 400px;
    background-image: url('/images/home/foto4-2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.1s;
    z-index: 2;
}



.home-4-gallery:hover::before {
    opacity: 1;
}



.home-4-gallery img {
    width: 300px;
    display: block;
}



/* 
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

body {
  margin: 0;
}
/*
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
} */

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}


#app {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

  a {
    color: inherit;
    font-size: 17px;
    border-radius: 6px;
    text-transform: uppercase;
    background: var(--social-bg);
    letter-spacing: 2px;
    padding: 6px 10px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover {
    color: #CFB43C;

  }


#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }


  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    /* a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    } */
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}

